<div id="appointment" class="page-layout carded fullwidth">
    
    <div class="appointment-heading">
    	<h2><span>Edit Appointment</span></h2>
    </div>
    <div class="center">
        <form>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field fxFlex="100%">
                        <input matInput placeholder="Title" name="title" class="form-control" value="Test Appointment">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <span>All Day</span>
                    <mat-slide-toggle></mat-slide-toggle>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field datepicker-field">
                <div fxLayout="row" fxFlex="50%" class="padding-right">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker" placeholder="End Time" name="from">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="50%" class="padding-left">
                    <mat-form-field>
                        <input placeholder="Start Time" [(ngModel)]="dateTime2" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" matInput [ngModelOptions]="{standalone: true}">
                        <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field datepicker-field">
                <div fxLayout="row" fxFlex="50%" class="padding-right">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker2" placeholder="End Date" name="to">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxFlex="50%" class="padding-left">
                    <mat-form-field>
                        <input placeholder="End Time" [(ngModel)]="dateTime2" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" matInput [ngModelOptions]="{standalone: true}">
                        <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field>
                        <input type="text" name="activity-location" matInput placeholder="Activity Location" value="Lorem">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field>
                        <mat-select placeholder="Activity Status" [value]="selected">
                            <mat-option value="scheduled">Scheduled</mat-option>
                            <mat-option value="interested">Interested</mat-option>
                            <mat-option value="not-interested">Not Interested</mat-option>
                            <mat-option value="no-response">No Response</mat-option>
                            <mat-option value="not-reachable">Not Reachable</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field>
                        <mat-select placeholder="Activity Source" [value]="source">
                            <mat-option value="lead">Lead</mat-option>
                            <mat-option value="opportunity">Opportunity</mat-option>
                            <mat-option value="account">Account</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field>
                        <input type="text" placeholder="Activity related to" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field>
                        <mat-select placeholder="Activity Owner" [value]="owner">
                            <mat-option value="raj">Raj</mat-option>
                            <mat-option value="selva">Selva</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field>
                        <textarea placeholder="Notes" matInput value="Lorem Ipsum is simply dummy text of the printing and typesetting industry."></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                <div fxLayout="row" fxFlex="100%" class="btn-field">
                   <button mat-button class="cancel-btn">Cancel</button>
                   <button mat-button class="submit-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>