<html>
<head>
</head>
<body>
    <div style="background:#fff;border-top-color:#5FC2C9;border-top-style:solid;border-top-width:4px;margin:25px auto;">
        <div style="border-color:#e5e5e5;border-style:none solid solid;border-width:2px;padding:7%;">
            <h1 style="color:#333;font-size:17px;line-height:1.4;margin:0 0 20px;">Hello [USER NAME],</h1>
            <p style="color:#333;font-size:13px;line-height:1.4;margin:20px 0;">Welcome to Hasslefree CRM!</p>
            <p style="color:#333;font-size:13px;line-height:1.4;margin:20px 0;text-align:left;">
                <a rel="nofollow" target="_blank" href={{emaillink}} style="background:#5FC2C9;border-radius:2px;border:none;color:#fff;cursor:pointer;
               display:inline-block;font-size:13px;line-height:1.4;margin:4px 2px;padding:10px 30px;text-align:center;text-decoration:none;">
                    Activate your account
                </a>
            </p>
            <p style="color:#333;font-size:13px;line-height:1.4;margin:20px 0;">
                If clicking the button does not work, copy and paste this URL in your browser's address bar to activate, <br>
                <a rel="nofollow" target="_blank" href={{emaillink}} style="color:#069;font-size:13px;line-height:1.4;text-decoration:none;">[ACTIVATION LINK]</a>
            </p>
            <p style="color:#333;font-size:13px;line-height:1.4;margin:20px 0;">
                If you're still having problems, please feel free to contact us at
                <a rel="nofollow" ymailto="mailto:support@hasslefreecrm.com" target="_blank" href="mailto:support@hasslefreecrm.com" style="color:#069;
               font-size:13px;line-height:1.4;text-decoration:none;">support@hasslefreecrm.com</a>. We'll be glad to help.
            </p>
            <p style="color:#333;font-size:13px;line-height:1.4;margin:40px 0 0;"> Thanks,<br> Hasslefree CRM Team </p>
        </div>
    </div>
</body>
</html>