<div class="page-layout carded fullwidth">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <!-- <button mat-icon-button class="logo-icon">
                            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="20px">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M2.5 93h281.027a.5.5 0 0 1 .5.5v46.004a.5.5 0 0 1-.5.5H2.5a.5.5 0 0 1-.5-.5V93.5a.5.5 0 0 1 .5-.5zM2.5 187.009h234.022a.5.5 0 0 1 .5.5v46.004a.5.5 0 0 1-.5.5H2.5a.5.5 0 0 1-.5-.5V187.51a.5.5 0 0 1 .5-.5zM2.5 281.018h281.027a.5.5 0 0 1 .5.5v46.004a.5.5 0 0 1-.5.5H2.5a.5.5 0 0 1-.5-.5v-46.004a.5.5 0 0 1 .5-.5zM2.5 375.027h163.516a.5.5 0 0 1 .5.5v46.004a.5.5 0 0 1-.5.5H2.5a.5.5 0 0 1-.5-.5v-46.004a.5.5 0 0 1 .5-.5z"
                                        fill="#000"></path>
                                    <path d="M399.538 350.45V164.58a.5.5 0 0 1 .822-.382l110.476 92.935a.5.5 0 0 1 0 .765L400.36 350.833a.5.5 0 0 1-.822-.382z"
                                        fill="#030303" fill-rule="nonzero"></path>
                                </g>
                            </svg>
                        </button> -->
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_circle
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Lead
                </span>
            </div>
            <div class="search-wrapper mx-32 mx-md-0">

            </div>
            <!-- <mat-icon fxFlexOffset="5px" class="s-16">arrow_forward_ios</mat-icon> -->
            <button mat-flat-button color="primary">Import leads</button>
            <button mat-flat-button fxFlexOffset="5px">
                <svg viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg" width="12px" class="valign-inline">
                    <g stroke="#000" fill="none" fill-rule="evenodd" opacity=".5">
                        <rect x=".5" y=".5" width="12" height="12" rx="1"></rect>
                        <path fill="#D8D8D8" d="M.5 4.375h12V1a.5.5 0 0 0-.5-.5H1a.5.5 0 0 0-.5.5v3.375z"></path>
                        <path d="M4.469 1.406v10.375M8.531 1.406v10.375" stroke-linecap="square"></path>
                    </g>
                </svg>
                Edit columns</button>
            <button mat-flat-button fxFlexOffset="5px" (click)="filter=!filter">
                <svg viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg" width="12px" class="valign-inline">
                    <path d="M13 1H1l4.8 5.676V10.6l2.4 1.2V6.676z" stroke="#000" stroke-width="1.3" fill="none"
                        fill-rule="evenodd" opacity=".5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                Filter</button>
            <button mat-raised-button fxFlexOffset="5px" class="add-product-button fuse-white mt-24 mt-md-0" (click)="addLead()">
                <span>Add Lead</span>
            </button>

        </div>
        <div class="content-card">
            <div class="m-12 filter" *ngIf="filter">
                <div fxLayout="row" fxLayoutAlign="start center" class="filter-field">
                    <div class="text-bold" *ngIf="addFilter">Filter leads by</div>

                    <mat-form-field appearance="legacy" fxFlexOffset="10px" fxFlex="20%" *ngIf="addFilter">
                        <mat-label>Field filter</mat-label>
                        <mat-select placeholder="Add field to filter" [(value)]="selecteditem" multiple>
                            <mat-option *ngFor="let item of fieldfilter" [value]="item.value">
                                {{item.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-button (click)="addFilter=true;">
                                Add Filter</button>
                            <button mat-button color="accent" *ngIf="(selecteditem?selecteditem.length:'')" (click)="addFilter=true;">Save
                                Filter</button>
                            <!-- <button mat-button color="accent">Save filter</button> -->
                        </div>
                    </div>
                </div>
                <div fxLayout="column" *ngIf="(selecteditem?selecteditem[0]:'')=='Territory'">
                    <div class="label" fxLayout="row" *ngIf="selecteditem">
                        {{selecteditem?selecteditem[0]:''}}
                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-button color="warn" (click)="removeClick(selecteditem?selecteditem[0]:'')">Remove</button>
                                <!-- <button mat-button color="accent">Save filter</button> -->
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span fxFlexOffset="10px"></span>
                        <mat-form-field appearance="legacy" fxFlex="20%">
                            <mat-label></mat-label>
                            <mat-select [placeholder]="">
                                <mat-option value="1">Contains</mat-option>
                                <mat-option value="2">does not Contains</mat-option>
                                <mat-option value="3">is not empty(has any value)</mat-option>
                                <mat-option value="4">is empty</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-chip-list" fxFlex>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                    (removed)="remove(fruit)">
                                    {{fruit}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Choose option" #fruitInput [formControl]="fruitCtrl"
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                    {{fruit}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <span fxFlexOffset="5px"></span>

                    </div>
                </div>
                <div fxLayout="row" *ngIf="selecteditem?selecteditem.length>1:''">
                    <div class="label">
                        <mat-radio-group fxLayout="row">
                            <mat-radio-button value="1">AND</mat-radio-button>
                            <mat-radio-button fxFlexOffset="5px" value="2"> OR</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div fxLayout="column" *ngIf="(selecteditem?selecteditem[1]:'')=='Lead stage'">


                    <div class="label" fxLayout="row">
                        {{selecteditem?selecteditem[1]:''}}

                        <div fxFlex>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-button color="warn">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span fxFlexOffset="10px"></span>
                        <mat-form-field appearance="legacy" fxFlex="20%">
                            <mat-label></mat-label>
                            <mat-select [placeholder]="">
                                <mat-option value="1">Contains</mat-option>
                                <mat-option value="2">does not Contains</mat-option>
                                <mat-option value="3">is not empty(has any value)</mat-option>
                                <mat-option value="4">is empty</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-chip-list" fxFlex>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                                    (removed)="remove(fruit)">
                                    {{fruit}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Choose option" #fruitInput [formControl]="fruitCtrl"
                                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                    {{fruit}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <span fxFlexOffset="5px"></span>
                        <!-- <div >
                                <mat-radio-group fxLayout="row">
                                        <mat-radio-button value="1">AND</mat-radio-button> 
                                        <mat-radio-button fxFlexOffset="5px" value="2"> OR</mat-radio-button>
                                 </mat-radio-group>
                           </div> -->
                    </div>
                </div>
            </div>
            <div class="m-12">
                <p-table [columns]="cols" [value]="lead" selectionMode="single" [(selection)]="selectedLead" (onRowSelect)="onRowSelect($event)" dataKey="leadId">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <!-- <th width="60px">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th> -->
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <!-- <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td> -->
                            <td *ngFor="let col of columns">
                                <div [ngSwitch]="col.field">
                                    <span *ngSwitchCase="'nameDetails'">
                                        {{rowData.leadFirstName}}
                                        {{rowData.leadLastName}}
                                    </span>
                                    <!-- <p-cellEditor *ngSwitchDefault>
                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" [(ngModel)]="rowData.vin">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{rowData.vin}}
                                    </ng-template>
                 </p-cellEditor> -->

                                    <span *ngSwitchDefault>
                                        {{rowData[col.field]}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length">
                                <div class="emptyMessage">
                                    No records found
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>