@import "src/@fuse/scss/fuse";

toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .menu-bar{
        position: relative;

        .open-menu{
            position: absolute;
            z-index: 9;
            top: 64px;
            background-color: #fff;
            width: 380px;
            right: 275px;
            border: 1px solid #ddd;

            .entities{
                float: left;
                width: 100%;

                h5 {
                    background-color: #f5f5f5;
                    color: #888;
                    font-size: 12px;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    line-height: 20px;
                    float: left;
                    width: 100%;
                }

                .sub-menus{
                    float: left;
                    width: 100%;
                    margin-top: 10px;

                    .submenu {
                        float: left;
                        width: 25%;
                        text-align: center;
                        
                        a{
                            color: #333;
                        }

                        span{
                            width: 100%;
                            float: left;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}


